<div class="page-container">

  <%= render "shared/page_header" %>

  <div class="page-content-wrapper">
    <div class="content">
      <div class="container-fluid container-fixed-lg">
        <div class="panel panel-transparent">
          <div class="panel-heading">
            <div class="panel-title">Truckings</div>
            <div class="pull-right">
              <div class="col-xs-12">
                <button id="show-modal" class="btn btn-cons">
                    <%= link_to "New Trucking", new_trucking_path, class: "btn btn-success" %>
                </button>
              </div>
            </div>
            <div class="clearfix"></div>
          </div>
          <div class="panel-body">
            <table class="table table-hover" id="tableWithDynamicRows">
              <thead>
                <tr>
                  <th></th>
                  <th>VENDOR PO#</th>
                  <th>VENDOR</th>
                  <th>TRUCK PO#</th>
                  <th>TRUCKER</th>
                  <th>POL</th>
                  <th>ORDER DATE</th>
                  <th>RECEIVED DATE</th>
                  <th>COMMODITY</th>
                  <th>REMARKS</th>
                </tr>
              </thead>
              <tbody>
                <% @truckings.each do |t| %>
                  <tr>
                    <td>
                      <%= link_to trucking_path(t), method: :delete, data: { confirm: 'Are you sure?' } do %>
                        <i class="fa fa-trash"></i>
                      <% end %>
                      <%= link_to edit_trucking_path(t) do %>
                        <i class="fa fa-pencil"></i>
                      <% end %>
                    </td>
                    <td><%= link_to t.vendor_po, edit_trucking_path(t) %></td>
                    <td><%= t.vendor %></td>
                    <td><%= t.truck_po %></td>
                    <td><%= t.trucker %></td>
                    <td><%= t.pol %></td>
                    <td><%= t.order_date %></td>
                    <td><%= t.received_date %></td>
                    <td><%= t.commodity %></td>
                    <td><%= t.remarks %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>




<h1>Listing truckings</h1>

<table>
  <thead>
    <tr>
      <th>Vendor po</th>
      <th>Vendor</th>
      <th>Truck po</th>
      <th>Trucker</th>
      <th>Pol</th>
      <th>Order date</th>
      <th>Received date</th>
      <th>Commodity</th>
      <th>Remarks</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @truckings.each do |trucking| %>
      <tr>
        <td><%= trucking.vendor_po %></td>
        <td><%= trucking.vendor %></td>
        <td><%= trucking.truck_po %></td>
        <td><%= trucking.trucker %></td>
        <td><%= trucking.pol %></td>
        <td><%= trucking.order_date %></td>
        <td><%= trucking.received_date %></td>
        <td><%= trucking.commodity %></td>
        <td><%= trucking.remarks %></td>
        <td><%= link_to 'Show', trucking %></td>
        <td><%= link_to 'Edit', edit_trucking_path(trucking) %></td>
        <td><%= link_to 'Destroy', trucking, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Trucking', new_trucking_path %>
