<div class="page-container">

<!--
  <%= render "shared/page_header" %>
-->

  <div class="header ">
    <div class="pull-left sm-table">
      <div class="header-inner">
        <div class="brand inline">
          <%= image_tag("logo.png", height: '22', width: '98') %>
        </div>
      </div>
    </div>
    <div class="pull-right sm-table">
      <div class="header-inner">
        <%= link_to "New Trucking", new_trucking_path, class: "btn btn-success" %>
      </div>
    </div>
  </div>

  <div class="page-content-wrapper">
    <div class="content">
      <div class="container-fluid container-fixed-lg">
        <div class="panel panel-transparent">
          <div class="panel-heading">
            <div class="panel-title">Truckings</div>
          </div>
          <div class="panel-body">
            <table class="table table-hover" id="tableWithDynamicRows">
              <thead>
                <tr>
                  <th></th>
                  <th>VENDOR PO#</th>
                  <th>VENDOR</th>
                  <th>TRUCK PO#</th>
                  <th>TRUCKER</th>
                  <th>POL</th>
                  <th>ORDER DATE</th>
                  <th>RECEIVED DATE</th>
                  <th>COMMODITY</th>
                  <th>REMARKS</th>
                </tr>
              </thead>
              <tbody>
                <% @truckings.each do |t| %>
                  <tr>
                    <td>
                      <%= link_to trucking_path(t), method: :delete, data: { confirm: 'Are you sure?' } do %>
                        <i class="fa fa-trash"></i>
                      <% end %>
                      <%= link_to edit_trucking_path(t) do %>
                        <i class="fa fa-pencil"></i>
                      <% end %>
                    </td>
                    <td><%= link_to t.vendor_po, edit_trucking_path(t) %></td>
                    <td><%= t.vendor %></td>
                    <td><%= t.truck_po %></td>
                    <td><%= t.trucker %></td>
                    <td><%= t.pol %></td>
                    <td><%= t.order_date %></td>
                    <td><%= t.received_date %></td>
                    <td><%= t.commodity %></td>
                    <td><%= t.remarks %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

