<%= form_for(@customer) do |f| %>
  <% if @customer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@customer.errors.count, "error") %> prohibited this customer from being saved:</h2>

      <ul>
      <% @customer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <p>Customer Information</p>

  <div class="row">
    <div class="col-sm-6">
      <div class="form-group form-group-default">
        <label>Contact</label>
        <%= f.text_field :contact, class: 'form-control' %>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="form-group form-group-default required">
        <label>Customer ID</label>
        <%= f.text_field :customer_id, class: 'form-control', :required => true %>
      </div>
    </div>
  </div>

  <div class="form-group form-group-default">
    <label>Phone Number</label>
    <%= f.text_field :phone, class: 'form-control' %>
  </div>

  <div class="form-group form-group-default">
    <label>Email</label>
    <%= f.email_field :email, class: 'form-control' %>
  </div>

  <div class="form-group form-group-default">
    <label>Company</label>
    <%= f.text_field :company, class: 'form-control' %>
  </div>

  <div class="form-group form-group-default">
    <label>Address Line1</label>
    <%= f.text_field :address1, class: 'form-control' %>
  </div>

  <div class="form-group form-group-default">
    <label>Address Line2</label>
    <%= f.text_field :address2, class: 'form-control' %>
  </div>

  <div class="form-group form-group-default">
    <label>Address Line3</label>
    <%= f.text_field :address3, class: 'form-control' %>
  </div>

  <div class="form-group form-group-default">
    <label>Address Line4</label>
    <%= f.text_field :address4, class: 'form-control' %>
  </div>

  <div class="form-group form-group-default">
    <label>Address Line5</label>
    <%= f.text_field :address5, class: 'form-control' %>
  </div>
  <br>
  <br>
  <%= f.submit class: "btn btn-success", value: "Submit" %>
  <%= link_to 'Back', customers_path, class: "btn btn-default" %><br>
<% end %>
