<%= form_for @inventory do |f| %>

    <% if @inventory.errors.any? %>
        <div id="error_explanation">
            <h2>
                <%= pluralize(@inventory.errors.count, "error") %> prohibited
                this inventory from being saved:
            </h2>
            <ul>
                <% @inventory.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
            </ul>
        </div>
    <% end %>

    <p>
        <%= f.label :invoice %><br>
        <%= f.text_field :invoice %>
    </p>

    <p>
        <%= f.label :customer %><br>
        <%= f.text_field :customer %>
    </p>

    <p>
        <%= f.label :paid_date %><br>
        <%= f.text_field :paid_date %>
    </p>

    <p>
        <%= f.label :side %><br>
        <%= f.text_field :side %>
    </p>

    <p>
        <%= f.label :o_f %><br>
        <%= f.text_field :o_f %>
    </p>

    <p>
        <%= f.label :crt %><br>
        <%= f.text_field :crt %>
    </p>

    <p>
        <%= f.label :seal %><br>
        <%= f.text_field :seal %>
    </p>

    <p>
        <%= f.label :bale %><br>
        <%= f.text_field :bale %>
    </p>

    <p>
        <%= f.label :weight %><br>
        <%= f.text_field :weight %>
    </p>

    <p>
        <%= f.label :bgk %><br>
        <%= f.text_field :bgk %>
    </p>

    <p>
        <%= f.label :erd %><br>
        <%= f.text_field :erd %>
    </p>

    <p>
        <%= f.label :cutoff %><br>
        <%= f.text_field :cutoff_date %>
    </p>

    <p>
        <%= f.label :note %><br>
        <%= f.text_area :note %>
    </p>

    <p>
        <%= f.label :in_date %><br>
        <%= f.text_field :in_date %>
    </p>

    <p>
        <%= f.label :out_date %><br>
        <%= f.text_field :out_date %>
    </p>

    <p>
        <%= f.label :bl %><br>
        <%= f.text_field :bl %>
    </p>

    <p>
        <%= f.label :pic %><br>
        <%= f.text_field :pic %>
    </p>

    <p>
        <%= f.label :truck %><br>
        <%= f.text_field :truck %>
    </p>

    <p>
        <%= f.label :paid %><br>
        <%= f.text_field :paid %>
    </p>

    <p>
        <%= f.submit %><br>
    </p>

<% end %>
