<h1>Inventory</h1>

<p>
    <string>Invoice:</strong>
    <%= @inventory.invoice %>
</p>

<p>
    <string>Customer:</strong>
    <%= @inventory.customer %>
</p>

<p>
    <string>Paid Date</strong>
    <%= @inventory.paid_date %>
</p>

<p>
    <string>Side:</strong>
    <%= @inventory.side %>
</p>

<p>
    <string>O/F:</strong>
    <%= @inventory.o_f %>
</p>

<p>
    <string>CRT:</strong>
    <%= @inventory.crt %>
</p>

<p>
    <string>SEAL:</strong>
    <%= @inventory.seal %>
</p>

<p>
    <string>Bale:</strong>
    <%= @inventory.bale %>
</p>

<p>
    <string>Weight:</strong>
    <%= @inventory.weight %>
</p>

<p>
    <string>BGK:</strong>
    <%= @inventory.bgk %>
</p>

<p>
    <string>ERD:</strong>
    <%= @inventory.erd %>
</p>

<p>
    <string>Cutoff Date:</strong>
    <%= @inventory.cutoff_date %>
</p>

<p>
    <string>Note:</strong>
    <%= @inventory.note %>
</p>

<p>
    <string>IN Date:</strong>
    <%= @inventory.in_date %>
</p>

<p>
    <string>Out Date:</strong>
    <%= @inventory.out_date %>
</p>

<p>
    <string>BL:</strong>
    <%= @inventory.bl %>
</p>

<p>
    <string>PIC:</strong>
    <%= @inventory.pic %>
</p>

<p>
    <string>TRUCK:</strong>
    <%= @inventory.truck %>
</p>

<p>
    <string>Paid:</strong>
    <%= @inventory.paid %>
</p>


<%= link_to 'Back', controller: 'inventory' %>
<%= link_to 'Edit', edit_inventory_path(@inventory) %>
<%= link_to 'Delete', inventory_path(@inventory), 
    method: :delete, data: { confirm: 'Are you sure?' } %>
