<div class="page-container">

  <%= render "shared/page_header" %>

  <div class="page-content-wrapper">
    <div class="content">
      <div class="container-fluid container-fixed-lg">
        <div class="panel panel-transparent">
          <div class="panel-heading">
            <div class="panel-title">Inventory In</div>
            <div class="pull-right">
              <div class="col-xs-12">
                <input id="query_date" value="Filter by Date" class="btn btn-success">
                <%= link_to "New Inventory In", new_inventory_in_path, class: "btn btn-success" %>
              </div>
            </div>
            <div class="clearfix"></div>
          </div>
          <div class="panel-body">
            <table class="table table-hover" id="tableWithDynamicRows">
              <thead>
                <tr>
                  <th></th>
                  <th>INVOICE</th>
                  <th>VENDOR</th>
                  <th>IN DATE</th>
                  <th>PAID DATE</th>
                  <th>CONTENT</th>
                  <th>PO</th>
                  <th>TRUCK</th>
                </tr>
              </thead>
              <tbody>
                <% @inventory_ins.each do |inv| %>
                  <tr>
                    <td>
                      <%= link_to inventory_in_path(inv), method: :delete, data: { confirm: 'Are you sure?' } do %>
                        <i class="fa fa-trash"></i>
                      <% end %>
                      <%= link_to edit_inventory_in_path(inv) do %>
                        <i class="fa fa-pencil"></i>
                      <% end %>
                    </td>
                    <td><%= link_to inv.invoice, edit_inventory_in_path(inv) %></td>
                    <td><%= inv.vendor %></td>
                    <td><%= inv.in_date %></td>
                    <td><%= inv.paid_date %></td>
                    <td><%= inv.content %></td>
                    <td><%= inv.po %></td>
                    <td><%= inv.truck %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
